section{
    
    border-radius: 5px;
    width: 350px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}
div {
    border: 1px solid rgb(123, 146, 163);
    text-align: center;
    padding: 20px;
}
section.grid {
    background-color: rgb(236, 240, 243);
    display: grid;
    padding: 5px;
    min-height: 360px;
    grid-template-columns: repeat(4, 1fr);
    
}
#result {
    background-color: rgb(57, 67, 72);
    color: white;
    grid-column: span 4;
}
#operator1 {
    background-color: rgb(203, 215, 223);
    grid-column: span 1;
}
#operator2 {
    background-color: rgb(203, 215, 223);
    grid-column: span 1;
}
#operator3 {
    background-color: rgb(203, 215, 223);
    grid-column: span 1;
}
#operator4 {
    background-color: rgb(203, 215, 223);
    grid-column: span 1;
}
#sign {
    background-color: rgb(255, 101, 110);
    grid-column: span 1;
    grid-row: span 4;
    
}